DB_USER=postgre
DB_PASSWORD=secret
DB_HOST=data-access-postgresql
DB_PORT="5432"
DB_DATABASE=data_access
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"
WEATHER_API_SECRET_KEY=
WEATHER_API_BASE_URL="http://api.weatherapi.com/v1"
JWT_SECRET=
JWT_RESET_PASSWORD_SECRET=